#query-form-container {
    margin-top: 6em;
}

.query-form .row {
    margin-top: 1em;
}

#query-form-container .error-message {
    margin-top: 2em;
}

#query-form-container .mixedValue img {
    max-width: 100%;
    padding: 1em;
}

#query-form-container .mixedValue .panel-info {
    /*border-color: #203864;*/
    border: none;
}

#query-form-container .mixedValue .panel-heading {
    background-color: #203864;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#query-form-container .mixedValue .panel-info .panel-collapse {
    border: 1px solid #203864;
    border-radius: 0px 0px 4px 4px;
}

.query-form .query-a  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#query-form-container .results-info-body {
    margin: 1em;
    color: gray;
}

#query-form-container .query-result > div > pre {
    border: 1px solid rgb(32, 56, 100);
}


#query-form-container .query-btn {
    background-color: #203864;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    /*box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.4);*/
    transition: background-color 0.3s ease 0s;
}

#query-form-container #submit-query-btn.query-btn {
    margin-left: 10px;
}

#query-form-container #queries-dropdown-toggle.query-btn {
    border-radius: 0px 4px 4px 0px;
}

#query-form-container .query-btn:hover,
#query-form-container .query-btn:active,
#query-form-container .query-btn:hover:focus{
    background-color: #2F5597;
}

#query-form-container .query-btn:focus,
#query-form-container .query-btn:active {
    outline: none;
}

#queryInput {
    min-height: 10em;
    border-bottom-right-radius: 4px;
}

.query-input .input-group-btn {
    vertical-align: top;
}

.query-input .dropdown-menu {
    top: 2.5em;
}