<!DOCTYPE html>
<html ng-app="xWCPSParserApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!--<script src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/vkbeautify/vkbeautify.0.99.00.beta.js"></script>-->
    <script src="libs/vkBeautify/vkbeautify.js"></script>

    <script src="libs/angular.js"></script>
    <script src="libs/angular-resource.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script src="libs/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="app/xwcps-parser-app.js"></script>

    <link rel="stylesheet" href="css/query.css">
    <link rel="stylesheet" href="css/spinner.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" id="service-navbar">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a href="http://www.earthserver.eu" class="navbar-brand earthserver-logo">
                <img alt="EarthServer Logo" src="images/earthserver_logo.png" class="img-responsive">
            </a>
        </div>
    </div>
</nav>


<div id="query-form-container" class="container">
    <div resize-query-form class="row query-form" ng-controller="xWCPSExecutorController">
        <div class="col-xs-12">
            <form ng-submit="execute()">
                <div class="input-group query-input">
                    <textarea class="form-control" value="{{queries.default.query}}"
                              title="{{queries.default.description}}" id="queryInput"
                              placeholder="Query"
                              ng-model="queries.default.query">
                    </textarea>
                    <div class="input-group-btn">
                        <button id="queries-dropdown-toggle" type="button"
                                class="btn btn-default dropdown-toggle query-btn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                ng-click="queryDropdownResize()">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li selector-click-handler ng-repeat='queryFromDropdown in queries.all'
                                data-description={{queryFromDropdown.query}}>
                                <a class="query-a" title="{{queryFromDropdown.description}}">{{queryFromDropdown.query}}</a>
                            </li>
                        </ul>
                    </div>
                        <span class="input-group-btn">
                            <button id="submit-query-btn" class="btn btn-default query-btn"
                                    type="submit">Submit Query</button>
                        </span>
                </div>
            </form>
        </div>

        <div class="spinner" ng-hide="loader || response.result || response.error">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

        <div class="col-xs-12 error-message" ng-show="response.error">
            <div class="alert alert-danger">Something went wrong. Please check the query syntax and try again.</div>
        </div>

        <div class="col-xs-12 results-info" ng-show="response.result">
            <div class="results-info-body">
                {{ response.result.length }} result(s) were found
            </div>
        </div>

        <div class="col-xs-12" ng-show="response.result.aggregatedValue">
            <div class="query-result">
                <div hljs hljs-source="prettifyXml(response.result.aggregatedValue)"></div>
            </div>
        </div>

        <div class="col-xs-12 mixedValue" ng-repeat="result in response.result">
            <div class="panel panel-info">

                <div class="panel-heading">{{result.coverageId}}</div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <img ng-show="result.wcpsValue"
                                 ng-src="{{'data:image/png;base64,' + result.wcpsValue}}">
                        </div>
                        <div class="col-xs-12" ng-show="result.xwcpsValue">
                            <div class="query-result">
                                <div hljs hljs-source="prettifyXml(result.xwcpsValue)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>